.job-item-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  min-height: 100vh;
}

.job-item-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.job-item-error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.job-item-failure-img {
  width: 250px;
  height: 200px;
}

.job-item-failure-heading-text {
  color: white;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
}

.job-item-failure-description {
  text-align: center;
  font-size: 12px;
  width: 90%;
  max-width: 488px;
  margin-top: 0px;
  line-height: 1.8;
}

.job-item-failure-button {
  padding: 8px 32px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4f46e5;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.job-details-view-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1180px;
  padding-top: 20px;
}

.job-item {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.logo-title-location-container {
  display: flex;
  flex-direction: column;
}

.logo-title-container {
  display: flex;
  align-items: center;
}

.company-logo {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.title-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-heading {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}

rating-container {
  display: flex;
  align-items: center;
  padding-top: 0px;
}

.rating-icon {
  color: yellow;
  font-size: 18px;
  margin-right: 10px;
}

.rating-heading {
  color: white;
  font-size: 18px;
  font-weight: bold;
  font-family: roboto;
}

.location-package-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.location-employee-container {
  display: flex;
  flex-direction: row;
}

.location-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding-left: 5px;
}

.location-icon {
  color: white;
  font-size: 22px;
  margin-right: 6px;
}

.brief-case-icon {
  color: white;
  font-size: 22px;
  margin-right: 10px;
}

.location-heading {
  color: white;
  font-size: 14px;
  font-family: roboto;
}

.package-heading {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.employee-type-container {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.employee-type-heading {
  color: white;
  font-size: 14px;
}

.description-visit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visit-container {
  display: flex;
  align-items: center;
}

.visit-heading {
  color: #6a95ce;
  font-size: 14px;
}

.visit-icon {
  color: #6a95ce;
  font-size: 14px;
}

.line {
  border-color: #6a95ce;
  width: 100%;
}

.description-heading {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.description-text {
  color: white;
  font-size: 15px;
  line-height: 1.8;
}

.similar-jobs-heading {
  color: white;
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}

.similar-jobs-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
}

.skills-heading {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.life-at-company-heading {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.life-at-company-description-image-container {
  display: flex;
  flex-direction: column;
}

.life-at-company-description {
  color: white;
  line-height: 1.8;
}

.life-at-company-image {
  width: 100%;
}

.skills-list-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
}

.skills-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-bottom: 40px;
}

.skills-container {
  display: flex;
}

.skill-image {
  width: 30px;
  margin-right: 20px;
}

.skill-name {
  color: white;
  font-size: 16px;
}
